.Project-page {
  margin-top: 50px;
  margin-bottom: 50px;
  &-content-wrapper {
    padding-top: 12vh;
    background-color: rgb(255, 255, 255);
  }
}
// ----------CONTAINER-----------------
.Project-page-content-container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;

  @media (max-width: $laptop) {
    grid-template-columns: 45px 1fr 45px;
  }
  @media (max-width: 650px) {
    grid-template-columns: 15px 1fr 15px;
  }
}

// -----------CONTENT-------------------
.Project-page-content {
  grid-column: 2/3;
  display: grid;
  column-gap: 20px;
  row-gap: 70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, 300px);
  @media (max-width: 900px) {
    row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .text-block {
    > .title {
      font-size: 24px;
      margin-bottom: 10px;
      animation: title-appear 0.4s forwards;
      @keyframes title-appear {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      > h3 > a {
        text-decoration: none;
        position: relative;
        color: #71409d;
        transition: all 300ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
        -moz-transition: all 300ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
        -webkit-transition: all 300ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
        &:hover {
          &:after {
            width: 100%;
          }
        }
        &::after {
          position: absolute;
          content: '';
          width: 0;
          height: 2px;
          bottom: -5px;
          left: 0;
          right: 0;
          background: #71409d;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
    }

    @media (max-width: 900px) {
      grid-row: 2/3;
    }
    > .descrition {
      font-size: 20px;
      width: 90%;
      @media (max-width: 900px) {
        width: 100%;
      }
      > .connect-text {
        margin-bottom: 10px;
      }
      > .descrition-visio {
        text-align: justify;
        margin-bottom: 20px;
        .disclose-block {
          margin-top: 20px;
          color: rgb(226, 35, 35);
        }
      }
    }
  }

  .image-block {
    > img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }
  }

  .specifications {
    grid-row: 2/3;
    grid-column: 1/3;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 900px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    &-wrapper {
      display: grid;
      row-gap: 20px;

      @media (max-width: 650px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
      }
    }

    &-technologies-block {
      padding: 10px 10px;
      box-shadow: 0px 0px 5px rgb(230, 230, 230);
      &-title {
        padding-left: 5px;
      }
      > .item {
        display: inline-block;
        padding: 10px;
        margin: 5px 5px;
        border: 1px solid gray;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    &-duration-block {
      padding: 10px 10px;
      box-shadow: 0px 0px 5px rgb(230, 230, 230);
    }
    &-efforts-block {
      padding: 10px 10px;
      box-shadow: 0px 0px 5px rgb(230, 230, 230);
    }
  }
}
