.Expertise-page {
  height: 100%;

  .Expertise-page__wrapper {
    background-position: center top;
    background-image: url('../../public/images/expertise.jpeg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 550px;

    .Expertise-page__black-cover {
      overflow: hidden;
      background-color: black;
      width: 100%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.2;
      transition: 0.6s;

      &:hover {
        opacity: 0.5;
        transition: 0.6s;
      }
    }
  }

  .Expertise-page__img-text {
    font-size: 40px;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-shadow: 1px 1px 1px black;
  }

  .Expertise-page__top-text-wrapper {
    padding: 0 30px;

    .Expertise-page__ww-do {
      display: block;
      text-align: center;
      font-size: 25px;
      padding-top: 100px;
      padding-bottom: 15px;
    }

    .Expertise-page__explanation {
      display: block;
      text-align: center;
      padding-bottom: 30px;
    }
  }

  .Expertise-page__cards {
    display: flex;
    margin: 0 10px;
    .Expertise-page__cards-each {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 35px;
      margin: 20px;
      min-height: 380px;
      background: #282d32;
      color: white;
      font-weight: 18px;
      transition: 0.6s;

      &:hover {
        background: rgb(0, 187, 0);
        transition: 0.6s;

        img {
          opacity: 0;
          transition: 0.6s;
        }
      }

      .Expertise-page__svg {
        width: 100%;
        height: auto;
        position: absolute;
        top: 20px;
        left: 20px;

        > img {
          width: 50px;
          text-align: left;
          fill: rgb(238, 238, 238);
          transition: 0.6s;
        }
      }

      .Expertise-page__tt-wrapper {
        max-height: 220px;

        .Expertise-page__title {
          font-size: 20px;
          padding-bottom: 15px;
          font-weight: 600;
          text-align: center;
        }

        .Expertise-page__text {
          text-align: center;
          font-size: 18px;
          line-height: 1.4;
        }
      }
    }
  }

  .Expertise-page__knowledge {
    display: flex;
    justify-content: center;
    width: 66%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 15px;

    .Expertise-page__knowledge-wrapper {
      display: flex;
      flex-direction: column;
      width: 25%;
      align-items: center;
      padding: 70px 0;
      justify-content: space-between;
      min-width: 200px;
      > svg {
        width: 50px;
        padding-bottom: 20px;
      }

      > img {
        margin-top: auto;
        padding-bottom: 10px;
        width: 8vw;
        height: 154px;
        object-fit: contain;
      }

      .Expertise-page__knowledge-each {
        text-align: center;
      }
    }

    .Expertise-page__knowledge-wrapper-animated {
      text-align: center;
      transform: translateY(100px);
      opacity: 0;
      transition: 1s;
      animation-name: show;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }

  .Expertise-page__last-block {
    padding: 0 65px;

    .Expertise-page__last-block-wws {
      font-size: 18px;
      color: rgb(175, 175, 175);
      padding: 100px 0 10px;
    }

    .Expertise-page__last-block-text {
      font-size: 50px;
      line-height: 1.2;
    }

    > button {
      margin: 50px 0 150px;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1160px) {
  .Expertise-page .Expertise-page__cards {
    flex-direction: column;
  }
}

@media (max-width: $tablet) {
  .Expertise-page {
    .Expertise-page__wrapper {
      background-position: center top;
      background-size: cover;

      .Expertise-page__black-cover {
        background-color: black;
        opacity: 0.5;
      }
    }

    .Expertise-page__cards {
      flex-direction: row;
      flex-wrap: wrap;

      .Expertise-page__cards-each {
        width: 45%;
        margin: 18px;
      }
    }

    .Expertise-page__knowledge {
      width: auto;

      .Expertise-page__knowledge-container {
        margin: 0 auto;

        .Expertise-page__knowledge-wrapper > img {
          width: 150px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .Expertise-page {
    .Expertise-page__img-text {
      font-size: 24px;
    }

    .Expertise-page__wrapper {
      background-position: center top;
      background-size: cover;

      .Expertise-page__black-cover {
        background-color: black;
        opacity: 0.5;
      }
    }

    .Expertise-page__cards {
      .Expertise-page__cards-each {
        width: auto;
        margin: 18px;
      }
    }

    .Expertise-page__last-block {
      padding: 0 30px;

      .Expertise-page__last-block-text {
        font-size: 4.5vw;
      }
    }

    .Expertise-page__knowledge {
      justify-content: center;

      .Expertise-page__knowledge-container {
        width: 200px;
        height: 320px;

        .Expertise-page__knowledge-wrapper {
          width: 200px;

          > img {
            width: 150px;
          }
        }
      }
    }
  }
}
