.Header {
  width: 100%;
  min-height: 125px;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: min-height 0.5s ease;
  padding: 0 150px;
  &.inContent {
    position: absolute;
    a {
      color: black;
      &.selected {
        color: #29b82e;
      }
    }
  }
  &.transparent {
    background: white;
    min-height: 80px;
    a {
      color: black;
      &.selected {
        color: #29b82e;
      }
    }
    box-shadow: $box-shadow;
    img {
      height: 35px;
      @media (max-width: $mobile) {
        height: 20px;
      }
    }
  }
  @media (max-width: $laptop) {
    padding: 0 45px;
  }
  .Header__Container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      padding: 20px 0;
    }
  }
  position: fixed;
  top: 0;
  &__Logo {
    flex: 1;
    img {
      height: 26px;
    }
  }
  &__Navigation {
    display: flex;
    flex: 1;
    justify-content: center;
    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 16px;
      padding: 10px 25px;
      position: relative;
      display: inline-block;
      transition: all 300ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
      -moz-transition: all 300ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
      -webkit-transition: all 300ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
      &:hover {
        color: #29b82e;
        &:after {
          width: 100%;
        }
      }
      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #29b82e;
        transition: all 0.3s;
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  .Search {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

.Header__Logo {
  & div {
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    color: #dcd100;
    width: min-content;
    white-space: nowrap;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  & svg {
    height: 3rem;
    margin-right: 1rem;
  }
}
