.button2 {
    border: none;
    border-bottom: 1px solid;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 5px;
    font-size: 20px;
    background: transparent;
    transition: .4s;
    font-weight: 600;
    &:hover {
        transition: .4s;
        color: green;
    }
}
.Button, .button1 {
    border: 3px solid;
    text-transform: uppercase;
    padding: 20px 55px;
    background: transparent;
    transition: .6s;
    font-weight: 600;
    font-size: 13px;
    &.small {
        padding: 16px 30px;
    }
    &:hover {
        transition: .6s;
        background: black;
        border: 3px solid black;
        color: white;
    }
}
